.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container h1 {
    color: white;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 180px;
    background-color: orangered;
    border-radius: 10px;
}

.container form input {
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
}

.emailInvalido {
    margin-top: -10px;
    margin-bottom: 12px;
    margin-left: -80px;
    color: white;
}

.emptyKey {
    margin-top: -10px;
    margin-bottom: 12px;
    margin-left: -110px;
    color: white;
}

.container form button {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 7px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.container form button:hover {
    background-color: rgb(49, 49, 49);
    color: white;
    border: none;
}

